html {
    color: #333;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
}

@font-face {
    font-family: GrundfosTheSans;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-8XB.otf');
    /*URL to font*/
}

@font-face {
    font-family: GrundfosTheSansReg;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-5R.otf');
    /*URL to font*/
}

body {
    margin: 0 auto;
    background: url(login_background.jpg) no-repeat center fixed;
    background-size: cover;
}

fieldset {
    border: 0;
    margin: 3em 0 0 0;
}

h1 {
    text-align: left;
    font-family: GrundfosTheSans;
    font-size: 40px;
    font-weight: 300;
    margin: 32px 0 8px 0;
}

h2 {
    text-align: left;
    font-family: GrundfosTheSans;
    font-size: 27px;
    font-weight: 300;
    margin: 0 0 8px 0;
}

p {
    margin: 0 auto;
    font-family: GrundfosTheSansReg;
    font-size: 15px;
    color: #333333;
}

.textform p {
    font-size: 27px;
}

header img {
    width: 100%;
}

article {
    display: flex;
    margin-left: 7em;
    margin-right: 7em;
    max-width: 100%;
}

.textform {
    text-align: left;
    width: 60%;
}

.regform {
    width: 40%;
    margin-top: 1.16em;
}

nav {
    font-family: GrundfosTheSansReg;
    font-size: 24px;
    color: #333;
    margin: 15px 0 0 8px;
}

.navn {
    display: flex;
    width: 100%;
}

.navn input {
    width: 96%;
}

.lastname {
    padding-left: 15px;
}

li {
    margin-bottom: 12px;
}

select {
    width: 100%;
    height: 31px;
    margin: 0 0 15px 0;
    font-size: 15px;
    padding: 0 1em 0 .5em;
}

label {
    font-size: 15px;
    color: #333;
    float: left;
    font-family: GrundfosTheSansReg;
}

button {
    width: 100%;
    border: solid #999 1px;
    height: 35px;
    color: #999999;
    font-size: 15px;
}

#browsers {
    background: green;
}

#tjekbox p {
    text-align: left;
    font-size: .9em;
    margin:  0 8px 11px 0;
}

#tjekbox input {
    margin:  0 5px 0 0;
}
.tc {
    display: flex;
    padding-top: 3px;
}

.tc label {
    text-align: left;
    font-size: .6em;
    margin: -6.3px 0 0 0;
    padding: 1em 1em 1em 0.2em;
}

.tc:hover {
    background: rgba(255, 255, 255, 0.87);
    border-radius: 0 0 5px 5px;
    color: black;
}

#tc {
    font-size: .7em;
}

#tc a {
    color: black;
    font-weight: 600;
}

.flexpw {
    display: flex;
    width: 100%;
}

#password {
    min-width: 88%;
}

#pwtoggle {
  top: 0;
  left: 0;
  height: 34px;
  width: 25px;
  background-color: red;
color: red;
}

/* NYFORM */

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 0 0 12px 0;
  display: inline-block;
  border: solid #a3a3a3 .1px;
  background: #f1f1f1;
    padding-left: .5em;
    height: 27px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4AA22C;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.regbtn {
  background-color: #f9f9f9;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registerbtn:hover {
    background-color: #3f9b42;
}


/* Add a blue text color to links */
a {
  color: dodgerblue;
}

#pwflex {
    width: 100%;
    display: flex;
}

#pwflex div {
  background: #dedede;
    height: 30px;
    border: solid #a3a3a3 .1px;
    border-left: none;
    padding: .4em;
    width: 35px;
}

#pwflex div:hover {
    cursor: pointer;
}

/* GLYF

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.glyphicon-eye-open:before {
    content:"\e105"
}

.glyphicon-eye-close:before {
    content:"\e106"
}

.glyphicon-warning-sign:before {
    content:"\e107";
}
*/

#checkbox_id {
    float: left;
    border: solid red 2px;
    margin-left: 7px;
}

#succes {
    background: #4AA22C;
    width: 100%;
    height: 7em;
}

.pp {
    font-size: 18px;
    text-align: left;
    margin-bottom: 35px;
}

.regform h2 {
    color: #4AA22C;
}

.welcome li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.welcome li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 9px;
  left: -10px;
}

li a {
    color: #333;
}
