html {
    color: #333;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
}

@font-face {
    font-family: GrundfosTheSans;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-8XB.otf');
    /*URL to font*/
}

@font-face {
    font-family: GrundfosTheSansReg;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-5R.otf');
    /*URL to font*/
}

body {
    margin: 0 auto;
    background-image: url(login_background.jpg);
    background-position: top;
    background-size: cover;
}

fieldset {
    border: 0;
    margin: 3em 0 0 0;
}

h1 {
    text-align: left;
    font-family: GrundfosTheSans;
    font-size: 40px;
    font-weight: 300;
    margin: 32px 0 8px 0;
}

p {
    margin: 0 auto;
    font-family: GrundfosTheSansReg;
    font-size: 27px;
    color: #333333;
}

header img {
    width: 100%;
}

article {
    display: flex;
    margin-left: 7em;
    margin-right: 7em;
    max-width: 100%;
}

.textform {
    text-align: left;
    width: 60%;
}

.regform {
    width: 40%;
        margin-top: -1em;
}

nav {
    font-family: GrundfosTheSansReg;
    font-size: 24px;
    color: #333;
    margin: 15px 0 0 8px;
}

.navn {
    display: flex;
    width: 100%;
}

.navn input {
    width: 96%;
}

.lastname {
    padding-left: 15px;
    margin-right: 15px;
}

li {
    margin-bottom: 12px;
}

input {
    width: 100%;
    height: 27px;
    margin: 0 0 15px 1px;
    font-size: 18px;
    padding-left: .5em;
}

select {
    width: 100%;
    height: 34px;
    margin: 0 0 24px 0;
    font-size: 16px;
    padding: 0 1em 0 .5em;
}

label {
    font-size: 15px;
    color: #333;
    float: left;
}

button {
    width: 100%;
    border: solid #999 1px;
    height: 35px;
    color: #999999;
    font-size: 15px;
}

#browsers {
    background: green;
}

//* PASSWORD *//

input[type=text], input[type=password] {
  display: block;
  margin: 10px 0;
}

.offPage {
  position: absolute;
  bottom: 100%;
  right: 100%;
}

.tc{
    font-size: .6em;
    text-align: left;
}