html {
    color: #333;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
}

@font-face {
    font-family: GrundfosTheSans;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-8XB.otf');
    /*URL to font*/
}

@font-face {
    font-family: GrundfosTheSansReg;
    /*a name to be used later*/
    src: url('../../fonts/GrundfosTheSansV2OT-5R.otf');
    /*URL to font*/
}

body {
    margin: 0 auto;
    background-image: url(login_background.jpg);
    background-position: top;
    background-size: cover;
}

fieldset {
    border: 0;
    margin: 3em 0 0 0;
}

h1 {
    text-align: left;
    font-family: GrundfosTheSans;
    font-size: 40px;
    font-weight: 300;
    margin: 32px 0 8px 0;
}

p {
    margin: 0 auto;
    font-family: GrundfosTheSansReg;
    font-size: 15px;
    color: #333333;
}

.textform p {
    font-size: 27px;
}

header img {
    width: 100%;
}

article {
    display: flex;
    margin-left: 7em;
    margin-right: 7em;
    max-width: 100%;
}

.textform {
    text-align: left;
    width: 60%;
}

.regform {
    width: 40%;
    margin-top: 1.3em;
}

nav {
    font-family: GrundfosTheSansReg;
    font-size: 24px;
    color: #333;
    margin: 15px 0 0 8px;
}

.navn {
    display: flex;
    width: 100%;
}

.navn input {
    width: 96%;
}

.lastname {
    padding-left: 15px;
}

li {
    margin-bottom: 12px;
}

select {
    width: 100%;
    height: 31px;
    margin: 0 0 15px 0;
    font-size: 15px;
    padding: 0 1em 0 .5em;
}

label {
    font-size: 15px;
    color: #333;
    float: left;
}

button {
    width: 100%;
    border: solid #999 1px;
    height: 35px;
    color: #999999;
    font-size: 15px;
}

#browsers {
    background: green;
}


.tc {
    font-size: .6em;
}

.flexpw {
    display: flex;
    width: 100%;
}

#password {
    min-width: 88%;
}

#pwtoggle {
  top: 0;
  left: 0;
  height: 34px;
  width: 25px;
  background-color: red;
color: red;
}

/* NYFORM */

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 12px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
    padding-left: .5em;
    height: 27px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registerbtn:hover {
    background-color: #3f9b42;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}